<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Boba Tea</title>
</head>
<body>
    <%- include("_navbar.ejs") %>
    <div class="big-item">
        <div class="advert">
            <div class="title">B♥baT</div>
            <div class="random-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis voluptates fuga quia nisi sapiente veniam aliquid, illo ex inventore in pariatur consequatur doloremque libero provident assumenda ipsam reprehenderit eligendi? Ad.
            </div>
        </div>
        <img src="/images/bg-img.jpg" class="promote-item">
    </div>


</body>
</html>