body{
    background-color: rgba(248, 247, 247, 0.911);
    height: 100vh;
    overflow: hidden;
}
.main-container{
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.drink-title{
    margin-top: 10vh;
    font-size: 3vw;
    text-align: center;
    color: lightcoral;
}

.drinks{
    display: grid;
    grid-template-columns: 22vw 22vw 22vw;
    place-items: center;
    row-gap: 3vh;
    margin-top: 3vh;
    padding-left: 25vw;
}

.drink-type{
    width: 20vw;
    height: 45vh;
    background-color: rgb(255,255,255,0.1);
    box-shadow: -5px 5px 10px 0 rgb(0,0,0,0.1);
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
}

.drink-type img{
    width: 50%;
    height: 90%;
}
.drink-type .kj{
    display: none;
}
.drink-type:hover .kj{
    display: block;
}
.kj{
    color: rgb(73, 71, 71);
    font-size: 1.3vw;
}

.drink-type:hover img{  
    transition: 0.3s ease-in-out;
    transform: translateY(-5vh) rotate(-15deg) scale(1.15);  
}
.drink-details{
    color: lightcoral;
    font-size: 24px;
}
.drink-price{
    float: right;
}

.buy-btn{
    font-size: 1.2vw;
    float: right;
    border-radius: 0.3em;
    width: 8vw;
    cursor: pointer;
    background-color: transparent;
    box-shadow: -2px 2px 5px rgb(63, 63, 63);
    color: lightcoral;
    border: none;
}

.buy-btn:active{
    transform: translateY(2px);
    box-shadow: -2px 2px 5px transparent;
}


.about-us{
    background-color: white;
    width: 50vw;
    height: auto;
    color: black;
    border-bottom: 3vh solid lightcoral;
    opacity: 0;
}

.about-us-header{
    text-align: center;
    font-size: 3vw;
}
.about-us-body{
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 2vh;
    font-size: 1.1vw;
}
.contact-us{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    width: 60vw;
    height: 50vh;
    background-color: white;
    font-size: 1.5vw;
    border-top: 2vh solid lightcoral;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
}

textarea{
    resize: none;
}
.contact-subheader{
    font-size: 1vw;
    margin-top: 20px;
    margin-left: 5%;
}
.form-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-details div{
    margin-left: 10%;
    margin-top: 3%;
}

.form-details input, .form-details textarea{
    border: none;
    padding: 10px 5px;
    width: 80%;
    border-bottom: 2px solid black;
    margin-top: 2vh;
    outline: none;
}
.about-us-modal{
    padding-top: 75px; /* Location of the box */
    padding-left: 40vw;
}

.contact-us-modal,.about-us-modal,.cart-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.fa-info-circle{
    font-size: 1rem;
}
.contact-us-header{
    text-align: center;
    padding-top: 20px;
    font-size: 2.2vw;
}
.close-contact-form-btn, .close-about{
    position: absolute;
    z-index: 1;
    width: 3vw;
    height: 3vw;
    text-align: center;
    border-radius: 50%;
    font-size: 2vw;
    cursor: pointer;
}
.close-contact-form-btn{
    top: -10%;
    right: -2%;
    background-color: white;
    color: lightcoral;
}
.close-about{
    right: 8%;
    top: 5%;
    color: white;
    background-color: lightcoral;
}

.close-contact-form-btn:hover, .close-about:hover{
    animation: btnSpin 0.5s;
}

@keyframes btnSpin{
    100%{
        transform: rotate(-180deg);
    }
}
.send-contact{
    position: absolute;
    right: 9%;
    bottom: 10%;
    cursor: pointer;
    color: lightcoral;
    font-size: 1.7vw;
}
.send-contact:hover{
    color: wheat;
}

.cart{
    width: 35vw;
    height: 35vh;
    background-color: white;
    position: absolute;
    right: 2%;
    top: 10%;
    border: 0.2vw solid lightcoral;
}
.cart-title{
    font-size: 3vw;
    text-align: center;
}
.close-cart{
    position: absolute;
    right: -2%;
    top: -6%;
    border-radius: 50%;
    background-color: lightcoral;
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    cursor: pointer;
}
.cart-body{
    height: 22vh;
    overflow: auto;
}
.cart-end{
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: 1fr 9vw;
}
.pay-btn{
    cursor: pointer;
    text-align: right;
    padding-right: 10px;
    background-color: lightcoral;
    margin-right: 30px;
}

.total-amount{
    padding-left: 30px;
}

.cart-drinks{
    display: grid;
    grid-template-columns : 70% 10% 10%;
}

.drink-list{
    width: 25vw;
    height: 40vh;
    top: 20vh;
    position: absolute;
}

.drink-list-title{
    font-size: 3vw;
    padding-left: 2vw;
}

a{
    text-decoration: none;
    outline: none;
}

.drink-menu-selection ul li{
    font-size: 1.3vw;
    padding-left: 2vw;
    cursor: pointer;
    margin-top: 15px;
    color: black;
}
.drink-menu-selection ul li:hover{
    color: lightcoral;
    transform: scale(1.15);
}
.drink-name, .drink-price, .remove-item i{
    padding-left: 10px;
}
.item-remove{
    text-align: right;
}
.remove-item:hover{
    cursor: pointer;
    transform: scale(1.5);
    color: wheat;
}
.fa-info-circle{
    color: rgb(59, 55, 55);
    font-size: 1.5vw;
}

.container:hover .fa-info-circle{
    display: none;
}
.invisible{
    width: 100%;
    height: 5vh;
}
/*Mobile & tablet views*/
@media screen and (max-width: 1024px){
    .nav-bar{
        height: 4vh;
    }
    .nav-bar ul li{
        font-size: 1rem;
        padding-bottom: 10px;
        margin-left: 3vw;
    }
    .drink-title{
        margin-top: 7%;
    }
    .drink-type{
        width: 17vw;
        height:20vh;
    }
    .drink-details{
        font-size: 12px;
    }
    .drink-list{
        top: 10%;
    }
    .about-us{
        border-bottom: 1.5vh solid lightcoral;
    }
    .about-us-header{
        font-size: 2rem;
    }
    .about-us-body{
        margin-top: -5%;
        font-size: 0.8rem;
    }
    .close-about{
        top: 4.5%;
    }
    .contact-us{
        top: 25%;
        height: 30vh;
    }
    .contact-us-header span{
        font-size: 2rem;
    }
    .contact-subheader span{
        font-size: 0.85rem;
    }
    .send-contact{
        bottom: 5%;
        font-size: 1.8rem;
    }
    .cart{
        width: 50vw;
        height: 31vh;
    }
    .cart-title span{
        font-size: 1.8rem;
    }
    .cart-end{
        margin-top: 5%;
        grid-template-columns: 1fr 15vw;
    }
    .total-amount, .pay-btn{
        font-size: 1.2rem;
    }
    .cart-drinks{
        grid-template-columns: 70% 15% 10%;
    }
    .drink-list-title{
        font-size: 2.2rem;
    }
    .drink-menu-selection ul li{
        font-size: 1rem;
    }
    .close-cart{
        width: 4vw;
        height: 4vw;
    }
}
@media screen and (max-width: 768px){
    .nav-bar{
        height: 4vh;
    }
    .nav-bar ul li{
        font-size: 0.8rem;
        padding-bottom: 2px;
    }
    .contact-us{
        height: 40vh;
        width: 65vw;
        top: 40%;
    }
    .close-contact-form-btn{
        top: -7%;
    }
    .cart{
        top: 5%;
        width: 55vw;
        height: 33vh;
    }
    .cart-end{
        grid-template-columns: 1fr 170px;
    }
    .pay-btn{
        margin-left: 20px;
    }
    .cart-drinks{
        grid-template-columns: 70% 18% 10%;
    }
    .drink-details{
        font-size: 14px;
    }
    .close-cart{
        top: -4%;
        font-size: 1rem;
        height: 6vw;
        width: 6vw;
    }
    .close-about{
        top: 6%;
    }
}

@media screen and (max-width: 540px){
    .nav-bar ul li{
        font-size: 1rem;
    }
    .nav-bar{
        height: 6vh;
    }

    .drinks{
        grid-template-columns: 30vw 30vw;
        margin-left: 40px;
    }
    .drink-type{
        width: 25vw;
    }
    .contact-us{
        height: 60vh;
        width: 95vw;
        top: 55%;
    }
    .close-contact-form-btn, .close-about{
        width: 5vw;
        height: 5vw;
        font-size: 0.9rem;
    }
    .close-contact-form-btn{
        top: -5%;
    }
    .cart{
        top: 5%;
        width: 75vw;
        height: 65vh;
    }
    .cart-body{
        height: 50vh;
    }
    .cart-end{
        position: absolute;
        grid-template-columns: 45vw 30vw;
        bottom: 5%;
    }
    .total-amount,.pay-btn{
        font-size: 1rem;
        margin-left: 15%;
    }
    .cart-drinks{
        grid-template-columns: 70% 18% 10%;
    }
    .drink-details{
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
    }
    .close-cart{
        top: -4%;
        font-size: 1rem;
        height: auto;
        width: auto;
    }
    .close-about{
        top: 8%;
    }
    .buy-btn{
        font-size: 1rem;
        width: 130px;
    }
    .drink-title{
        margin-top: 10%;
        font-size: 1.5rem;
    }
    .drink-list{
        margin-top: 5%;
    }
    .drink-list-title{
        font-size: 2rem;
    }
    .drink-menu-selection ul li{
        font-size: 1rem;
    }
    .fa-info-circle{
        font-size: 1rem;
    }
}

@media screen and (max-width: 414px){
    .drinks{
        grid-template-columns: 35vw 35vw;
        margin-left: 20px;
    }
    .drink-menu-selection ul li{
        font-size: 0.8rem;
    }
    .about-us{
        width: 80vw;
        height: 60%;
        overflow: auto;
        margin-left: -100px;
    }
    .close-about{
        position: absolute;
        width: 5vw;
        height: 5vw;
        right: 2%;
        top: 9%;
        font-size: 0.8rem;
    }
    .contact-us{
        height: 80vh;
        top: 60%;
    }
    .form-details{
        display: flex;
        flex-direction: column;
    }
    .close-contact-form-btn{
        width: 30px;
        height: 30px;
        right: -5%;
        top: -5%;
    }
    .close-contact-form-btn span{
        font-size: 1rem;
    }
    .cart{
        width: 85vw;
        height: 50vh;
    }
    .total-amount, .pay-btn{
        font-size: 1rem;
        overflow: hidden;
    }
    .cart-body{
        height: 35vh;
    }
    .cart-drinks{
        grid-template-columns: 65% 20% 10%;
    }
    .close-cart{
        position: absolute;
        width: 7vw;
        height: 7vw;
    }
    .cart-title span{
        font-size: 1rem;
    }
    .fa-info-circle{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 375px){
    .drink-list{
        position: relative;
        height: 15vh;
        text-align: center;
        margin-top: -5%;
    }
    .drink-list-title{
        font-size: 1.5rem;
        width: 350px;
    }
    .drink-menu-selection{
        width: 100vw;
    }
    .drink-menu-selection ul li{
        display: inline;
    }
    .drinks{    
        grid-template-columns: 40vw 40vw;
        margin-left: -35px;
    }
    .cart-drinks{
        grid-template-columns: 60% 25% 10%;
    }
    .send-contact{
        font-size: 1.2rem;
        bottom: 2%;
        text-align: center;
    }
    .cart-end{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pay-btn{
        margin-right: 0;
        margin-left: 0;
    }
    .pay-btn span{
        padding-left: 10px;
    }
    .total-amount{
        padding-left: 0;
    }
    .close-about{
        top: 10%;
        width: 3vh;
        height: 3vh;
        right: 5%;
    }
    .contact-us{
        height: 70vh;
        width: 75vw;
    }
    .buy-btn{
        font-size: 0.8rem;
        width: 100px;
    }
}

@media screen and (max-width:360px) {
    .contact-us{
        height: 85vh;
    }
    .cart-end{
        width: 60vw;
        margin-left: -20px;
    }
}

@media screen and (max-width:320px) {
    .cart{
        height: 70vh;
    }
    .cart-body{
        height: 50vh;
    }
    .cart-end{
        width: 50vw;
    }
    .contact-us{
        height: 85vh;
    }
    .about-us{
        height: 70vh;
    }
    .close-about{
        width: 5vh;
        height: 5vh;
        top: 10%;
        right: 7%;
    }

}
