*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    position: fixed;
    background-color: lightcoral;
    height: 7vh;
    text-align: center;
    width: 100%;
}
.nav-list{
    margin-left: 45vw;
}
.nav-list .logo{
    position: absolute;
    left: 0%;
}

.nav-list li{
    color: white;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 15px;
    margin-left: 4vw;
}

.nav-list li:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
    transform: scale(1.05);
    color: wheat;
}

.big-item{
    height: 100vh;
}
.promote-item{
    width: 100%;
    height: auto;
}
.advert{
    position: absolute;
    width: 40vw;
    height: 40vh;
    right: 2%;
    top: 15%;
}
.title{
    font-size: 4vw;
    color: lightskyblue;
    text-align: center;
    text-shadow: -0.05vw 0.05vw 0 black,
    -0.15vw -.15vw 0 red,
    -0.25vw 0.20vw 0 blue,
    -0.25vw 0.4vw 0 pink;
}
.random-text{
    color: black;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 20%;
    width: 25vw;
    margin-top: 3%;
}